<html>
<head>
    <link rel="stylesheet" href='/static/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h1>Light Control, Nuffy Styled</h1>
<form method="post" action="/">
    <input type="submit" value="ON" name="On"/>
    <input type="submit" value="OFF" name="Off"/>
    <ul id="devices"></ul>
</form>
</body>
<script type="text/javascript">
    function fillContainerFromSSE(url) {
        const eventSource = new EventSource(url);
        eventSource.onmessage = function (e) {
            const data = JSON.parse(e.data)
            const ul = $('#devices');
            const lis = [...$('#devices>li')];
            const existingDeviceWithSameId = lis.find(li => li.id === data.id)
            if (!existingDeviceWithSameId) {
                const newLi = $('<li>', {id: data.id})
                    .text(data.id)
                    .on('click', function () {
                        console.log('clicked ' + this.id);
                    })
                ul.append(newLi);
            } else {
                if (data.event === 'remove') {
                    existingDeviceWithSameId.remove();
                } else {
                    console.log('device is already shown');
                }
            }
        };
    }

    $(document).ready(function () {
        fillContainerFromSSE("/listen");
    });
</script>
</html>