<div class="controls">
  <div>{{device.id}}</div>
  <mat-button-toggle-group value="off" (change)="modeChange($event.value)">
    <mat-button-toggle value="off">Off</mat-button-toggle>
    <mat-button-toggle value="white">White</mat-button-toggle>
    <mat-button-toggle value="custom" [style.color]="customColorHex">Custom</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="pickers" *ngIf="customColorSwitcher.on">
  <color-hue-picker [color]="customColor" (onChangeComplete)="rgbChanged($event)"></color-hue-picker>
  <color-alpha-picker [color]="customColor" (onChangeComplete)="alphaChanged($event)"></color-alpha-picker>
</div>
