:host {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: normal;

  mat-button-toggle-group {
    margin-right: 20px;
  }

  .pickers {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
}

